.category-tree-container {
  margin-top: 1rem;
  font-size: 1.2rem;

  .category-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .category-description {
      flex: 1;
      display: flex;
      // justify-content: flex-end;
      font-size: 0.75rem;
    }

    .exclude-from-reports {
      margin-right: 1rem;
      color: var(--color-text-secondary);
      font-size: 0.75rem;
    }

    .category-actions {
      display: flex;
      align-self: center;
      gap: 0.25rem;
      color: var(--color-text-primary);
      fill: var(--color-text-primary);

      button {
        svg {
          height: 1.25rem;
          width: 1.25rem;
        }

        &.delete-icon:hover:not(:disabled) {
          color: var(--color-danger);
        }
      }
    }
  }
}
