.category-tree-container {
  margin-top: 1rem;
  font-size: 1.2rem;

  .category-node {
    padding-left: 0.5rem;

    .row {
      display: flex;
      align-items: center;

      .expand-spacer {
        visibility: hidden;
      }

      .expand-category {
        cursor: pointer;
      }

      .drag-handle {
        cursor: grab;
      }
    }

    .expanded-children {
      margin-left: 1.5rem;
      border-left: 1px solid white;
    }
  }
}

.debug {
  border: 1px solid red;
}