.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .upload-file {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    input {
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
    }
  }

  .file-preview {
    h4 {
      margin: 0;
    }
    
    pre {
      padding: 0.5rem;
      background-color: var(--color-input-bg);
      border: 1px solid var(--color-border);
    }
  }

  .importer-selector {
    display: flex;
    gap: 0.5rem;

    .edit-importer-button {
      align-self: flex-end;
    }
  }

  .importer-editor {
    padding: 1rem;
    border: 1px solid var(--color-border);
  }

  .imported-transactions-preview {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: hidden;
  }
}