.account-form-title {
  margin-top: 0;
}

.account-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}