.account-form-title {
  margin-top: 0;
}

.account-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-buttons-container {
  display: flex;
  justify-content: space-between;

  .form-buttons-left {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .form-buttons-right {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}

.form-error {
  color: var(--color-error);
}