.header {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--color-surface);
  color: var(--color-text-primary);
  z-index: 2;
  box-shadow: 0 2px 4px var(--color-dropdown-shadow);

  .header-left {
    padding: 0.5rem;
    flex: 1;

    .home-logo {
      height: 6rem;
      width: 6rem;
      cursor: pointer;
    }

    .user-dropdown {
      position: relative;
      display: inline-block;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;

    .nav-link {
      text-decoration: none;
      color: var(--color-text-primary);
      padding: 1rem;
      border-bottom: 1px solid transparent;

      &:hover {
        background: var(--color-surface-hover);
        border-bottom-color: var(--color-link-hover);
      }

      &.active {
        background: var(--color-surface-hover);
        border-bottom-color: var(--color-link-active);
      }
    }
  }

  .header-right {
    padding: 0.5rem;
    flex: 1;
    text-align: right;

    .theme-toggle-icon {
      color: var(--color-text-primary);
      cursor: pointer;

      &:hover {
        color: var(--color-link-hover);
      }

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    } 
  }

  @media screen and (max-width: 800px) {
    .header-content {
      display: block;

      .header-links {
        position: absolute;
        top: 100%;  // display under the header
        left: 0;
        right: 0;
        display: none;
        flex-direction: column;

        &.open {
          display: flex;
        }

        .header-link {
          width: 100%;
        }
      }

      svg {
        display: block;
      }
    }
  }
}
