@use './styles/theme' as theme;

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  // color: colors.$page-default-text;
  color: var(--color-text-primary);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-content {
    position: relative;
    flex: 1;
    // display: flex;
    justify-content: center;
    background: var(--color-bg);
    // color: colors.$page-default-text;
    overflow: auto;
    z-index: 1;

    .bg {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background: url('./img/home_source_screenshot2.png'); 
      // filter: blur(8px);
      z-index: -1;
    }
  }
}

* {
  scrollbar-width: thin;          // Firefox
  scrollbar-color: var(--color-secondary) var(--color-surface); // thumb, track
}

/* WebKit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-surface);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 8px;
  border: 2px solid var(--color-surface); // adds spacing between thumb and track
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary-hover);
}

*::-webkit-scrollbar-corner {
  background: var(--color-surface);
}